<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-positive">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list menu-close>
                <ion-item href="#/menu/page">Inicio</ion-item>
                <ion-item href="#/menu/acerca">Acerca de</ion-item>
                <ion-item>Item 3</ion-item>
                <ion-item>Item 4</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
